# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfvars
!*.tfvars.example

# Magento sensitive files
src/app/etc/env.php

# macOS
.DS_Store

# Editor
.idea/
.vscode/
