<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="joby_shipping" translate="label" type="text" sortOrder="10"
                   showInWebsite="1" showInStore="1" showInDefault="1">
                <label>Joby Shipping</label>

                <field id="active" translate="label" type="select" sortOrder="10"
                       showInWebsite="1" showInStore="0" showInDefault="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20"
                       showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Title</label>
                    <comment>Displayed as the shipping group label at checkout.</comment>
                </field>

                <field id="name" translate="label" type="text" sortOrder="30"
                       showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Method Name</label>
                    <comment>Displayed as the method name under the title at checkout.</comment>
                </field>

                <field id="price" translate="label" type="text" sortOrder="40"
                       showInWebsite="1" showInStore="0" showInDefault="1">
                    <label>Shipping Price ($)</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                    <comment>Flat rate charged per order.</comment>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="50"
                       showInWebsite="1" showInStore="0" showInDefault="1">
                    <label>Sort Order</label>
                </field>

                <field id="sallowspecific" translate="label" type="select" sortOrder="60"
                       showInWebsite="1" showInStore="0" showInDefault="1">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="70"
                       showInWebsite="1" showInStore="0" showInDefault="1">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

                <field id="error_message" translate="label" type="text" sortOrder="80"
                       showInWebsite="1" showInStore="1" showInDefault="1">
                    <label>Displayed Error Message</label>
                </field>
            </group>
        </section>
    </system>
</config>
